@model IEnumerable<Healthy.Models.Entry>

@{
    ViewData["Title"] = "History";

    /// Filter entries where Ate checkbox is checked
    var ateEntries = Model.Where(item => item.Ate);

    // Calculate totals for the filtered entries
    var totalCalories = ateEntries.Sum(item => item.Food.Calories * item.Quantity);
    var totalFats = ateEntries.Sum(item => item.Food.Fat * item.Quantity);
    var totalCarbs = ateEntries.Sum(item => item.Food.Carbs * item.Quantity);
    var totalProtein = ateEntries.Sum(item => item.Food.Protein * item.Quantity);
}

<h1>History</h1>

@foreach (var group in Model.GroupBy(e => e.IntakeTime.Date).OrderByDescending(g => g.Key))
{
    <h2>@group.Key.ToString("D")</h2> <!-- Display the date as a heading -->
    <table class="table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Meal Type</th>
                <th>Quantity</th>
                <th>Ate</th>
                <th>Calories</th>
                <th>Fats</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in group)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Food.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.MealType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ate)</td>
                    <td>@(item.Food.Calories * item.Quantity)</td>
                    <td>@(item.Food.Fat * item.Quantity)</td>
                    <td>@(item.Food.Carbs * item.Quantity)</td>
                    <td>@(item.Food.Protein * item.Quantity)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Totals</td>
                <td>@totalCalories</td>
                <td>@totalFats</td>
                <td>@totalCarbs</td>
                <td>@totalProtein</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
}
